@import url(http://fonts.googleapis.com/css?family=Roboto);
html,
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: 100%;
}
header,
nav {
  display: inline-block;
}
header {
  color: #fff;
  width: 100%;
  background-color: #8c0200;
}
header span {
  padding: 20px 10px;
  font-size: 125%;
  display: inline;
}
header nav a {
  padding: 15px 10px;
  background-color: #4d0100;
  display: inline-block;
}
header nav a.active {
  background-color: #ffffff;
  color: #000000;
}
main {
  display: block;
  width: 900px;
  margin: 0 auto;
}
main button {
  background-color: #f20300;
  padding: 10px 15px;
  margin: 5px 10px;
  color: #ffffff;
  border: none;
}
main button:hover {
  background-color: #bf0300;
}
main button:active {
  background-color: #8c0200;
}
main select {
  margin: 5px 10px;
  display: block;
  padding: 10px;
}
