@import url(http://fonts.googleapis.com/css?family=Roboto);
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
}
header,
nav {
  display: inline-block;
}
header {
  color: #fff;
  width: 100%;
  background-color: #b7c11e;
  padding: 0 20%;
}
header nav span {
  padding: 20px 10px;
  font-size: 125%;
  display: inline;
}
header nav a {
  padding: 15px 10px;
  background-color: #23a38f;
  display: inline-block;
  border: solid 1px #ccc;
  transition: background-color 0.2s, color 0.2s;
}
header nav a.active {
  background-color: #b9260e;
}
main {
  display: block;
  width: 900px;
  margin: 0 auto;
}
main button {
  background-color: #5a6077;
  padding: 10px 15px;
  margin: 5px 10px;
  color: #f0563d;
  border: none;
}
main button:hover {
  background-color: #44485a;
}
main button:active {
  background-color: #2e313d;
}
main select {
  margin: 5px 10px;
  display: block;
  padding: 10px;
}
