@import url(http://fonts.googleapis.com/css?family=Roboto);
html,
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
header,
nav,
main {
  display: inline-block;
}
header {
  color: #fff;
  width: 100%;
  background-color: #8c0200;
}
header span {
  padding: 20px 10px;
  font-size: 125%;
  display: inline;
}
header nav a {
  padding: 15px 10px;
  background-color: #4d0100;
  display: inline-block;
}
header nav a.active {
  background-color: #ffffff;
  color: #000000;
}
