@import url(http://fonts.googleapis.com/css?family=Roboto);

@color-1:#4D0100;
@color-2:#8C0200;
@color-3:#B30300;
@color-4:#ffffff;
@color-5:#000000;



html,body{
 font-family: Roboto,Arial, sans-serif;
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
 width:100%;
}

header,
nav {
 display: inline-block;
}

header {
 color:#fff;
 width:100%;
 background-color:@color-2;
 span{
   padding:20px 10px;
  font-size:125%;
  display:inline;
 }
 nav{
  a{
   padding:15px 10px;
   background-color:@color-1;
   display: inline-block;
   &.active{
     background-color:@color-4;
     color:@color-5
   }
  }
 }
}
main{
 display:block;
 width:900px;
 margin:0 auto;
 button{
  background-color:lighten(@color-2,20%);
  padding:10px 15px;
  margin:5px 10px;
  color:@color-4;
  border: none;
  &:hover{
   background-color:lighten(@color-2,10%);  
  }
  &:active{
   background-color: @color-2;
  }
 }
 select{
  margin:5px 10px;
  display:block;
  padding:10px;
 }
}
